@font-face {
  font-family: "Regular";
  src: url(../fonts/PTSansNarrow-Regular.woff2) format("woff2"), url(../fonts/PTSansNarrow-Regular.woff) format("woff");
}
@font-face {
  font-family: "Bold";
  src: url(../fonts/PTSansNarrow-Bold.woff2) format("woff2"), url(../fonts/PTSansNarrow-Bold.woff) format("woff");
}
:root {
  --835: 43.49vw;
  --580: 30.21vw;
  --125: 6.51vw;
  --80: 4.17vw;
  --55: 2.86vw;
  --45: 2.34vw;
  --42: 2.19vw;
  --30: 1.56vw;
  --25: 1.30vw;
  --22: 1.15vw;
  --20: 1.04vw;
  --19: 0.99vw;
  --18: 0.94vw;
  --17: 0.89vw;
  --15: 0.78vw;
  --10: 0.52vw;
  --5: 0.26vw;
}

@media (max-width: 800px) {
  :root {
    --835: 835px;
    --580: 580px;
    --125: 125px;
    --80: 80px;
    --55: 55px;
    --45: 45px;
    --42: 42px;
    --30: 30px;
    --25: 25px;
    --22: 22px;
    --20: 20px;
    --19: 19px;
    --18: 18px;
    --17: 17px;
    --15: 15px;
    --10: 10px;
    --5: 5px;
  }
}
html {
  overflow-x: hidden;
}

body {
  color: hsl(174, 63%, 33%);
  font-family: "Regular";
  background-color: rgb(237, 237, 237);
  letter-spacing: 0.05em;
}

.main-outer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em 2em;
  background-color: rgb(31, 136, 125);
  box-shadow: 4px 4px 7px 2px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 1em 1em;
}
.main-header .logo-wrapper h1 {
  font-size: var(--80);
  font-family: "Bold";
  letter-spacing: 0.02em;
  color: #fff;
}
@media (max-width: 800px) {
  .main-header .logo-wrapper h1 {
    font-size: 50px;
  }
}
.main-header .btn-wrapper a.login {
  background-color: hsl(358, 78%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  padding: 0.4em 0.8em;
  color: #fff;
  font-family: "Regular";
  text-decoration: none;
  font-size: var(--25);
  width: calc(var(--125) * 2.2);
  transition: scale 0.2s ease-in-out;
}
.main-header .btn-wrapper a.login img {
  width: var(--25);
  margin-right: 30%;
}
.main-header .btn-wrapper a.login:focus,
.main-header .btn-wrapper a.login:hover {
  scale: 1.1;
}

.options {
  padding-inline: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.options .desc {
  max-width: 70%;
  margin-top: 2vw;
}
.options .desc p {
  font-size: clamp(14px, 1.5vw, 30px);
  margin-bottom: 1em;
}
.options .desc h2 {
  font-size: clamp(20px, 2.7vw, 46px);
  font-family: "Bold";
  line-height: 1.2;
}
@media (max-width: 500px) {
  .options .desc {
    max-width: 90%;
  }
}
.options .grid-group {
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}
@media (max-width: 870px) {
  .options .grid-group {
    margin-top: 2em;
  }
}
@media (max-width: 550px) {
  .options .grid-group {
    grid-template-columns: 1fr;
    gap: 1em;
  }
}
.options .grid-group > * {
  background-color: rgb(31, 136, 125);
  color: #fff;
  font-family: "Regular";
  font-size: clamp(14px, 1.5vw, 30px);
  padding: 0.8em 1.6em;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8), inset 3px 3px 5px rgba(255, 255, 255, 0.7), inset -3px -3px 5px rgba(0, 0, 0, 0.7);
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 30%, rgba(0, 0, 0, 0.15) 100%);
  background-position: top left;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  cursor: pointer;
}
.options .grid-group > *:hover {
  background-color: #40403e;
}
.options .option-parent {
  position: relative;
  border-radius: 0.5em;
}
.options .option-parent .option-child {
  display: none;
  position: absolute;
  bottom: -120%;
  left: 0;
  width: 100%;
  border-radius: 0.5em;
  background-color: #fff;
  font-family: "Regular";
}
.options .option-parent .option-child ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.2em;
}
.options .option-parent .option-child ul li {
  list-style: none;
  padding-block: 0.1em;
  width: 80%;
  text-align: center;
}
.options .option-parent .option-child ul li a {
  text-decoration: none;
  color: #000;
}
.options .option-parent .option-child ul li a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 0.06em;
  text-underline-offset: 0.4em;
}
.options .option-parent-link {
  text-decoration: none;
}

.form-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2em;
  margin-top: 1em;
}
@media (max-width: 550px) {
  .form-main-wrapper {
    flex-direction: column;
    gap: 1em;
  }
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em 2em;
  background-color: rgb(31, 136, 125);
  gap: 0.2em;
  border-radius: 0.5em;
}
.form-wrapper p {
  max-width: 200px;
  line-height: 1.2;
  margin-bottom: 0.2em;
}
.form-wrapper form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
}
.form-wrapper form select {
  max-width: 200px;
}
.form-wrapper input {
  padding-inline: 0.5em;
}

.back-btn {
  padding: 0.5em 1em;
  background-color: rgb(31, 136, 125);
  border-radius: 0.5em;
}

.submit-btn {
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.errors-signup {
  color: red;
}

.greeting {
  margin-right: 1.5em;
}

.logout {
  background-color: rgb(46, 46, 73) !important;
}

.login-nav-menu .logout {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8), inset 3px 3px 5px rgba(255, 255, 255, 0.7), inset -3px -3px 5px rgba(0, 0, 0, 0.7);
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 30%, rgba(0, 0, 0, 0.15) 100%);
  background-position: top left;
}

.event-form-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2em;
}

.create-event-form, .preparation-form,
.docs-form {
  background-color: rgb(31, 136, 125);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
  padding: 1em;
  border-radius: 0.5em;
}
.create-event-form input, .preparation-form input,
.create-event-form select,
.preparation-form select,
.create-event-form option,
.preparation-form option,
.docs-form input,
.docs-form select,
.docs-form option {
  padding-inline: 0.5em;
}

.event-form-btn, .prep-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em 0.5em;
  margin-inline: auto;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;
  margin-top: 0.5em;
}

.main-page-link {
  text-decoration: none;
  color: #fff;
}

p.errors {
  color: red;
  text-align: center;
  max-width: 320px;
}

.error {
  color: red;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}

/* Calendar */
.calendar-form-wrapper {
  padding: 1em;
}

.calendar-group {
  display: flex;
  gap: 2em;
}

#calendar {
  width: 50%;
}

#events {
  width: 50%;
}

@media (max-width: 550px) {
  .calendar-group {
    flex-direction: column;
  }
  #calendar {
    width: 100%;
  }
  #events {
    width: 100%;
  }
}
.header-cal {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.header-cal button {
  margin: 0 10px;
  padding: 5px 10px;
  width: 2em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #000;
  border: 1px solid white;
  cursor: pointer;
}

.header-cal {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  position: relative;
}

.days-row {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.dates-grid {
  display: flex;
  flex-wrap: wrap;
}

.date-cell {
  width: 14.28%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.date-cell.event-date {
  background-color: rgb(31, 136, 125);
}

.date-cell:hover {
  background-color: #40403e;
}

#events {
  margin-top: 20px;
}

#events div {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.docs-heading {
  text-transform: uppercase;
}

.docs-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  margin-top: 1em;
}

.docs-form label {
  text-transform: uppercase;
}

.docs-form select {
  margin-inline: auto;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
