@font-face {
    font-family: "Regular";
    src: url(../fonts/PTSansNarrow-Regular.woff2) format("woff2"),
        url(../fonts/PTSansNarrow-Regular.woff) format("woff");
}

@font-face {
    font-family: "Bold";
    src: url(../fonts/PTSansNarrow-Bold.woff2) format("woff2"), url(../fonts/PTSansNarrow-Bold.woff) format("woff");
}

$field-bg-color: rgba(31, 136, 125, 1);
$field-bg-color-hover: #40403e;
$text-color: hsl(174, 63%, 33%);
$primary-bg-color: rgba(237, 237, 237, 1);
$login-bg-color: #304b78;
$signup-bg-color: hsl(358, 78%, 50%);
$fs-huge: clamp(24px, 3vw, 50px);
$fs-large: clamp(20px, 2.7vw, 46px);
$fs-medium-large: clamp(18px, 2vw, 40px);
$fs-medium: clamp(14px, 1.5vw, 30px);
$fs-medium-small: clamp(14px, 1.2vw, 20px);
$fs-small: clamp(8px, 0.8vw, 16px);

:root {
    --835: 43.49vw;
    --580: 30.21vw;
    --125: 6.51vw;
    --80: 4.17vw;
    --55: 2.86vw;
    --45: 2.34vw;
    --42: 2.19vw;
    --30: 1.56vw;
    --25: 1.3vw;
    --22: 1.15vw;
    --20: 1.04vw;
    --19: 0.99vw;
    --18: 0.94vw;
    --17: 0.89vw;
    --15: 0.78vw;
    --10: 0.52vw;
    --5: 0.26vw;
    --box-shadow: inset var(--10) var(--10) var(--10) rgba(255, 255, 255, 0.4),
        inset calc(var(--10) * -0.8) calc(var(--10) * -0.8) var(--10) rgba(0, 0, 0, 0.4);
    --box-shadow2: inset calc(var(--10) * -0.8) calc(var(--10) * -0.8) var(--10) rgba(0, 0, 0, 0.4), inset var(--10) var(--10) var(--10) rgba(255, 255, 255, 0.4);
}


@mixin flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin list-style {
    list-style: none;
}

html {
    overflow-x: hidden;
}

body {
    color: $text-color;
    font-family: "Regular";
    background-color: $primary-bg-color;
    letter-spacing: 0.03em;
    min-height: calc(100vh + 100px);
}

a {
    text-decoration: none;
    letter-spacing: 0.03em;
}

li {
    list-style: none;
}

.main-outer-wrapper {
    @include flex-centered();
    flex-direction: column;
}

.main-header {
    @include flex-space-between();
    width: 100%;
    padding: 1em 2em;
    background-color: $field-bg-color;
    box-shadow: 4px 4px 7px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 1em 1em;
    .logo-wrapper {
        position: relative;
        h1 {
            font-size: var(--80);
            font-family: "Bold";
            letter-spacing: 0.02em;
            color: #fff;
            user-select: none;

            @media (max-width: 800px) {
                font-size: 50px;
            }
        }
    }
}

.main-page-link__arrow {
    position: absolute;
    display: block;
    right: 0;
    bottom: calc(var(--55) * -3);
    background-color: $field-bg-color;
    border-radius: 50%;
    width: var(--80);
    aspect-ratio: 1;
    @include flex-centered();
}

.main-page-link__arrow img {
    width: 80%;
    aspect-ratio: 1;
}

.btn-wrapper {
    display: flex;
    align-items: center;
}

a.login {
    background-color: $signup-bg-color;
    @include flex-centered();
    justify-content: flex-start;
    padding: 0.4em 0.8em;
    color: #fff;
    font-family: "Regular";
    text-decoration: none;
    font-size: var(--25);
    width: calc(var(--125) * 2.2);
    img {
        width: var(--25);
        margin-right: 30%;
    }

    transition: scale 0.2s ease-in-out;
}

a.login:focus,
a.login:hover {
    scale: 1.1;
}

.main-header .login-mobile {
    display: none;
}

.logo-mobile {
    width: 43px;
}

.logo-mobile-heading {
    display: none;
}

/* Main page's body */

.main-php__main-section {
    padding: var(--125);
}

.main-php__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--125);
}

.logo-large {
    height: var(--580);
    width: calc(var(--125) * 2.8);

    @media (max-width: 800px) {
        display: none;
    }
}

.main-php__description {
    padding-block: var(--55);

    p {
        font-size: var(--30);
        font-weight: 700;
        color: #000;
        margin-bottom: var(--10);
    }

    h2 {
        font-size: var(--45);
        font-weight: 700;
        font-family: "Bold";
        line-height: 1.2;
    }
}

.main-php__grid-group {
    display: grid;
    gap: var(--80);
    grid-template-columns: repeat(3, 1fr);
    .link:focus,
    .link:hover {
        scale: 1.1;
    }

    @media (max-width: 800px) {
        grid-template-columns: 1fr;
    }
}

.main-php__grid-group > * {
    text-align: center;
    display: block;
    padding: 2em 1em;
    background-color: $field-bg-color;
    color: #fff;
    text-transform: uppercase;
    font-size: var(--30);
    letter-spacing: 0.05em;
    border-radius: 1.5em;
    box-shadow: var(--box-shadow);
    background-image: url(../images/leaf-pattern-1.png);
    background-repeat: no-repeat;
    background-position: right calc(var(--125) * 1);
    background-size: 60%;
    font-family: "Bold";
    transition: scale 0.2s ease-in-out;
}

.link-collapsible {
    user-select: none;
}

.sublink-wrapper {
    margin-top: 1em;
    background-color: #fff;
    border-radius: 1.5em;
    padding: 1em;
    width: fit-content;
    margin-inline: auto;
    box-shadow: inset var(--5) var(--5) var(--10) var(--5) rgba(0, 0, 0, 0.4);
    display: none;
    opacity: 0;
    transition-property: opacity display;
    transition-duration: 0.3s;
    transition-behavior: allow-discrete;

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
}

.sublink-child {
    @include flex-centered();
    gap: 1em;
    background-color: $field-bg-color;
    color: #fff;
    font-family: "Regular";
    border-radius: 1.5em;
    font-size: var(--18);
    padding: 1em;
    width: var(--125);
    text-transform: capitalize;
    transition: scale 0.2s ease-in-out;

    img {
        height: var(--22);
        width: var(--22);
    }
}
.sublink-child:focus,
.sublink-child:hover {
    scale: 1.1;
}

.link-collapsible:hover .sublink-wrapper {
    opacity: 1;
    display: block;
}

.link-collapsible:has(:hover) .sublink-wrapper {
    opacity: 1;
    display: block;
}

.nav-mobile {
    display: none;
}

.form-wrapper {
    margin-top: var(--80);
    padding-bottom: calc(var(--80) * 2);
    h2 {
        font-size: var(--55);
        color: $field-bg-color;
        font-family: 'Bold';
        text-align: center;
        margin-bottom: var(--5);
    }
    h3 {
        color: #000;
        font-size: calc(var(--30) *1.4);
        font-family: 'Bold';
        text-align: center;
        margin-bottom: var(--15);
    }
    form {
        background-color: rgb(237, 237, 237);
        color: #000;
        @include flex-centered();
        flex-direction: column;
        gap: 0.5em;
        select {
            max-width: 200px;
        }
        box-shadow: var(--box-shadow2);
        border-radius: 2.5em;
        padding: 2em;
        position: relative;

        button {
            position: absolute;
            left: 50%;
            translate: -50%;
            bottom: calc(var(--55) * -2);
            font-size: var(--22);
            padding: 0.8em 2em;
            color: #fff;
            border-radius: 1em;
            letter-spacing: inherit;
            background-color: $field-bg-color;
            transition: scale 0.2s ease-in-out;
        }
        button:focus,
        button:hover {
            scale: 1.1;
        }
        label {
            font-size: var(--22);
            margin-bottom: 0.5em;
        }
    }
    input {
        padding-inline: 0.5em;
    }
}

.docs-heading {
    font-size: var(--55);
    color: $field-bg-color;
    font-family: 'Bold';
    text-align: center;
    margin-bottom: var(--5);
    margin-top: var(--80);
}

.main-leaf-right {
    background-image: url(../images/leaf-pattern-big-2.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 50%;
    min-height: 100vh;
}

.main-leaf-left {
    @extend .main-leaf-right;
    background-position: left bottom;
}

.checkbox-group {
    height: calc(var(--580) * 0.8);
    overflow: scroll;
    width: 100%;
}

.back-btn {
    padding: 0.5em 1em;
    background-color: $field-bg-color;
    border-radius: 0.5em;
}

.submit-btn {
    padding: 0.25em 0.5em;
    cursor: pointer;
}

.errors-signup {
    color: red;
}

.greeting {
    margin-right: 1.5em;
    color: #fff;
    font-family: 'Bold';
}

.logout {
    background-color: rgb(46, 46, 73) !important;
}

.login-nav-menu .logout {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8), inset 3px 3px 5px rgba(255, 255, 255, 0.7),
        inset -3px -3px 5px rgba(0, 0, 0, 0.7);
    background-image: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.15) 30%,
        rgba(0, 0, 0, 0.15) 100%
    );
    background-position: top left;
}


@media (max-width: 800px) {
    .nav-desktop {
        display: none !important;
    }
    .nav-mobile {
        display: flex;
    }
    .main-header .login-mobile {
        display: block;
    }
    .main-php__description {
        p {
            font-size: 16px;
            margin-bottom: 10px;
        }
        h2 {
            font-size: 30px;
        }
    }
    .main-php__grid-group > * {
        font-size: 20px;
        width: 220px;
        border-radius: 1.5em;
        margin-inline: auto;
    }
    .sublink-child {
        font-size: 15px;
        width: 100px;
        border-radius: 1.5em;

        img {
            height: 15px;
            width: 15px;
        }
    }
    .main-php__description {
        padding-block: 20px;
    }
    .logo-mobile-heading {
        display: inline;
        margin-right: 5px;
    }
    .main-header .logo-wrapper {
        position: static;
    }
    .main-page-link__arrow {
        right: 50%;
        translate: 50%;
        bottom: -10%;
        background-color: $field-bg-color;
        width: 60px;
    }
    .docs-heading {
        margin-top: 40px;
        font-size: 25px;
    }
    .form-wrapper {
        margin-top: 40px;
        padding-bottom: calc(var(--80) * 2);
        h2 {
            font-size: 25px;

        }
        h3 {
            font-size: 22px;
            margin-bottom: var(--15);
        }
        form {
            button {
                bottom: -60px;
                font-size: 16px;
            }
            label {
                font-size: 16px;
                margin-bottom: 0.5em;
            }
        }
    }

    .checkbox-group {
        height: 250px;
        width: 100%;
    }

    .main-leaf-right main {
        width: min(350px, 95%);
    }

    :root {
        --box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.4),
        inset -5px -5px 5px rgba(0, 0, 0, 0.4);
        --box-shadow2: inset -5px -5px 5px rgba(0, 0, 0, 0.4),
        inset 5px 5px 5px rgba(255, 255, 255, 0.4);
    }
}

.event-form-btn {
    @include flex-centered();
    padding: 0.2em 0.5em;
    margin-inline: auto;
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
    margin-top: 0.5em;
}

.main-page-link {
    text-decoration: none;
    color: #fff;
}

p.errors {
    color: red;
    text-align: center;
    max-width: 320px;
}

.error {
    color: red;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
}

.prep-form-btn {
    @extend .event-form-btn;
}

/* Calendar */

.calendar-form-wrapper {
    padding: 1em;
}

.calendar-group {
    display: flex;
    gap: 2em;
}

#calendar {
    width: 50%;
}

#events {
    width: 50%;
}

@media (max-width: 550px) {
    .calendar-group {
        flex-direction: column;
    }
    #calendar {
        width: 100%;
    }

    #events {
        width: 100%;
    }
}

.header-cal {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.header-cal button {
    margin: 0 10px;
    padding: 5px 10px;
    width: 2em;
    height: 1em;
    @include flex-centered();
    color: #fff;
    background-color: #000;
    border: 1px solid white;
    cursor: pointer;
}

.header-cal {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    position: relative;
}

.days-row {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.dates-grid {
    display: flex;
    flex-wrap: wrap;
}

.date-cell {
    width: 14.28%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.date-cell.event-date {
    background-color: $field-bg-color;
}

.date-cell:hover {
    background-color: $field-bg-color-hover;
}

#events {
    margin-top: 20px;
}

#events div {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.docs-heading {
    text-transform: uppercase;
}

.docs-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    margin-top: 1em;
}

.docs-form label {
    text-transform: uppercase;
}

.docs-form select {
    margin-inline: auto;
    text-align: center;
}
